services:
  server:
    build:
      context: .
      dockerfile: infra/docker/server.Dockerfile
    ports:
      - 3000
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:3000/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3

  client:
    build:
      context: .
      dockerfile: infra/client.Dockerfile
      args:
        - SERVER_API_URL=http://server:3000
    ports:
      - 4321
    restart: unless-stopped
    depends_on:
      - server
