services:
  server:
    build:
      context: .
      dockerfile: infra/docker/server.Dockerfile
    environment:
      - PORT=3000
      - NODE_ENV=production
    ports:
      - 3000:3000
    expose:
      - 3000
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:3000/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3

  client:
    build:
      context: .
      dockerfile: infra/docker/client.Dockerfile
    env_file:
      - apps/client/.env
    ports:
      - 4321:4321
    environment:
      - HOST=0.0.0.0
      - PORT=4321
      - NODE_ENV=production
      - SERVER_API_URL=http://server:3000
    expose:
      - 4321
    restart: unless-stopped
    depends_on:
      - server
